{{#each blogPostData}}
<div class="card my-5">
    <h5 class="card-header">{{post_title}}</h5>
    <p5 class="card-header">Posted by {{user.name}} on {{created_date}}</p5>
    <div class="card-body">
        {{!-- <h5 class="card-title">Special title treatment</h5> --}}
        <p class="card-text">{{contents}}</p>
        {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
    </div>
</div>
{{/each}}